
@{
    ViewData["Title"] = ViewBag.user.FirstName + " " + ViewBag.user.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<div>
    <table class="table">
        <tbody>
            <tr>
                <th><p>Name</p></th>
                <td><p>@ViewBag.user.FirstName </p></td>

            </tr>
            <tr>
                <th><p>Age</p></th>
                <td><p>@ViewBag.user.LastName </p></td>
            </tr>
            <tr>
                <th><p>Email</p></th>
                <td><p>@ViewBag.user.EmailAddress </p></td>
            </tr>
            <tr>
                <th></th>
                <td><a asp-controller="User" asp-action="Edit" asp-route-Id=@ViewBag.user.Id> Edit</a></td>
            </tr>
            
        </tbody>
    </table>
</div>
